body{
    background-color:snow;
}

p{
    font-style: italic;
    text-align: justify; 
    font-size: 20px; 
    font-weight: bold;
}

h1{
    text-align: center; 
    font-size: 3rem;
    color:violet;
}